name: dummy-cloud
namespacePrefix: dummy
deployParameters:
  service.password: "${creds.get('streaming-cred').secret}"
deployParameterSets: []
e2eParameters: {}
e2eParameterSets: []
technicalConfigurationParameters: {}
technicalConfigurationParameterSets: []
apiUrl: dummy
apiPort: 80
dashboardUrl: dummy
labels: []
defaultCredentialsId: streaming-cred
protocol: dummy
maasConfig: {credentialsId: streaming-cred}
vaultConfig: {credentialsId: streaming-cred}
consulConfig: {credentialsId: streaming-cred, tokenSecret: streaming-cred}
dbaasConfigs: []
