name: dummy-cloud
namespacePrefix: dummy
deployParameters: {}
deployParameterSets: []
e2eParameters: {}
e2eParameterSets: []
technicalConfigurationParameters: {}
technicalConfigurationParameterSets: []
apiUrl: dummy
apiPort: 80
dashboardUrl: dummy
labels: []
defaultCredentialsId: missing-cred
protocol: dummy
maasConfig: {credentialsId: missing-cred}
vaultConfig: {credentialsId: missing-cred}
consulConfig: {credentialsId: missing-cred, tokenSecret: missing-cred}
dbaasConfigs: []
