# Tenant Template reference:
# https://github.com/Netcracker/qubership-envgene/blob/main/docs/envgene-objects.md#tenant-template

name: "Application"
registryName: "default"
description: ""
deployParameters: {}
gitRepository: ""
defaultBranch: ""
credential: ""
labels: []
