# Namespace Template reference:
# https://github.com/Netcracker/qubership-envgene/blob/main/docs/envgene-objects.md#namespace-template

name: "{{ current_env.name }}-<deployPostfix>"
credentialsId: ""
labels: []
isServerSideMerge: false
cleanInstallApprovalRequired: true
mergeDeployParametersAndE2EParameters: true
profile:
  name: ""
  baseline: dev
deployParameters: {}
e2eParameters: {}
technicalConfigurationParameters: {}
deployParameterSets: []
e2eParameterSets: []
technicalConfigurationParameterSets: []
