name: dummy-tenant
registryName: default
credential: "tenant-cred"
globalE2EParameters: {}
deployParameters: {}
deploymentParameterSets: []
e2eParameterSets: []
technicalConfigurationParameters: {}
technicalParameterSets: []
