name: default-registry
credentialsId: dummy
dockerConfig:
  groupName: dummy
  groupUri: dummy
  releaseRepoName: dummy
  releaseUri: dummy
  snapshotRepoName: dummy
  snapshotUri: dummy
  stagingRepoName: dummy
  stagingUri: dummy
mavenConfig:
  fullRepositoryUrl: dummy
  releaseGroup: dummy
  repositoryDomainName: dummy
  snapshotGroup: dummy
  targetRelease: dummy
  targetSnapshot: dummy
  targetStaging: dummy
