name: dummy-namespace
labels: []
deployParameters: {}
deployParameterSets: []
e2eParameters: {}
e2eParameterSets: []
technicalConfigurationParameters: {}
technicalConfigurationParameterSets: []
isServerSideMerge: false
cleanInstallApprovalRequired: false
mergeDeployParametersAndE2EParameters: false
credentialsId: dummy
