name: {{ current_env.environmentName ~ '-bg-domain' }}
type: bgdomain
origin:
  name: {{ current_env.get('additionalTemplateVariables', {}).get('ns_overrides', {}).get('origin-ns', current_env.environmentName ~ '-origin') }}
  type: namespace
peer:
  name: {{ current_env.get('additionalTemplateVariables', {}).get('ns_overrides', {}).get('peer-ns', current_env.environmentName ~ '-peer') }}
  type: namespace
controller:
  name: {{ current_env.get('additionalTemplateVariables', {}).get('ns_overrides', {}).get('controller-ns', current_env.environmentName ~ '-controller') }}
  type: namespace
  credentialsIs: ${creds.get("bgd-controller-token").secret}
