name: dummy-cloud
deployParameters: {}
deployParameterSets: []
e2eParameters: {}
e2eParameterSets: []
technicalConfigurationParameters: 
  INTEGRATION_TOKEN:
    $type: credRef
    credId: app-sidecar-token
technicalConfigurationParameterSets: []
apiUrl: dummy
apiPort: 80
dashboardUrl: dummy
labels: []
defaultCredentialsId: ""
protocol: dummy
maasConfig: {credentialsId: ""}
vaultConfig: {credentialsId: ""}
consulConfig: {tokenSecret: ""}
dbaasConfigs: []