name: app3
groupId: org.test
artifactId: app3
registryName: "{{ appdefs.overrides.registryName | default('off-site-registry-X') }}"
supportParallelDeploy: false
deployParameters: {}
technicalConfigurationParameters: {}
