name: dummy-cloud
namespacePrefix: dummy
deployParameters: {}
deployParameterSets: []
e2eParameters: {}
e2eParameterSets: []
technicalConfigurationParameters: {}
technicalConfigurationParameterSets: []
apiUrl: dummy
apiPort: 80
dashboardUrl: dummy
labels: []
defaultCredentialsId: dummy
protocol: dummy
maasConfig: {credentialsId: dummy}
vaultConfig: {credentialsId: dummy}
consulConfig: {credentialsId: dummy, tokenSecret: dummy}
dbaasConfigs: []
