name: "DEVOPSBP"
registryName: "Shared Platform Registry"
description: "{{current_env.description}}"
owners: "Yuri Klochkov"
deployParameters:
  CMDB_SCHEME: "CLOUD_PER_ENV"  # Added as per ETBSS-1052
  EXAMPLE_LIST:
    - "value"
    - "second_value"
globalE2EParameters:
  pipelineDefaultRecipients: ""
  recipientsStrategy: "merge"
  mergeTenantsAndE2EParameters: false  
  environmentParameters: {}
defaultBranch: ""
credential: ""
labels: []
